{% extends "auctions/layout.html" %}

{% block body %}
    <div class="text-center mt-5">
        <h2>Register</h2>

        {% if message %}
            <div class="d-flex  justify-content-center w-100 mb-3">
                <div class="alert alert-danger">{{ message }}</div>
            </div>
        {% endif %}
    
        <form action="{% url 'register' %}" method="post" class="d-flex align-items-center flex-column mb-3">
            {% csrf_token %}
            <div class="form-group mb-3">
                <input class="form-control" autofocus type="text" name="username" placeholder="Username" required>
            </div>
            <div class="form-group mb-3">
                <input class="form-control" type="email" name="email" placeholder="Email Address" required>
            </div>
            <div class="form-group mb-3">
                <input class="form-control" type="password" name="password" placeholder="Password" required>
            </div>
            <div class="form-group mb-3">
                <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password" required>
            </div>
            <input class="btn btn-primary" type="submit" value="Register">
        </form>
    
        Already have an account? <a href="{% url 'login' %}">Log In here.</a>
    </div>

{% endblock %}